@model ChangePasswordVM
@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <p class="text-center">Your Social Campaigns - Buraya da ne istersek </p>
                            <form asp-controller="Account" asp-action="ChangePassword" method="post">
                                <div class="mb-3">
                                    <label asp-for="TemporaryPassword" class="form-label">TemporaryPassword</label>
                                    <input asp-for="TemporaryPassword" type="password" class="form-control" id="TemporaryPassword" name="TemporaryPassword">
                                    <span asp-validation-for="TemporaryPassword" class="text-danger"></span>
                                </div>
                                <div class="mb-4">
                                    <label asp-for="NewPassword" class="form-label">NewPassword</label>
                                    <input asp-for="NewPassword" type="password" class="form-control" id="NewPassword" name="NewPassword">
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                                <div>
                                    <input type="submit" value="Şifre Değiştir" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>