@model ChangePasswordVM
@{
    ViewData["Title"] = "ChangePassword";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>SendMail</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/assets/css/login/bootstrap5.css">
    <link rel="stylesheet" href="~/assets/css/login/style.css">

    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div class="container pt-5">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center mt-5">
                <img src="~/assets/images/login/undraw_forgot_password_re_hxwm.svg" alt="Main IMG" class="img-fluid">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-5" id="formDiv">
                <form asp-controller="Account" asp-action="ChangePassword" method="post">

                    <div class="input-field">
                        @*<label asp-for="TemporaryPassword" class="form-label">Geçiçi Şifre</label>*@
                        <i class="fas fa-lock"></i>
                        <input asp-for="TemporaryPassword" type="password" class="form-control" id="TemporaryPassword" name="TemporaryPassword" placeholder="Geçici Şifre">
                        <span asp-validation-for="TemporaryPassword" class="text-danger"></span>
                    </div>

                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input asp-for="NewPassword" type="password" class="form-control" id="Password" name="NewPassword" placeholder="Şifre">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    @*<div class="d-flex justify-content-between">
            <div style="display: inline-block; margin-right: 100px;">
                <input type="checkbox" class="form-check-input mb-3" id="showPassword" name="showPassword">
                <a for="showPassword" style="color: #0d6efd">Şifreyi Göster</a>
            </div>
        </div>*@


                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Şifre Tekrarı">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                    <div class="col-3 mt-2">
                        <input type="submit" value="Şifre Değiştir" class="btn btn-sz-primary " />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/assets/js/Login/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>


@*<script>
    const passwordInput1 = document.getElementById('NewPassword');
    const passwordVisibilityIcon1 = document.getElementById('passwordVisibilityIcon1');
    const togglePasswordVisibilityBtn1 = document.getElementById('togglePasswordVisibility1');
    let isPasswordVisible1 = false;

    togglePasswordVisibilityBtn1.addEventListener('click', function () {
        if (isPasswordVisible1) {
            passwordInput1.type = 'password';
            passwordVisibilityIcon1.innerHTML = '<i class="ti ti-eye-off"></i>';
            isPasswordVisible1 = false;
        } else {
            passwordInput1.type = 'text';
            passwordVisibilityIcon1.innerHTML = '<i class="ti ti-eye"></i>';
            isPasswordVisible1 = true;
        }
    });
</script>

<script>
    const passwordInput2 = document.getElementById('ConfirmPassword');
    const passwordVisibilityIcon2 = document.getElementById('passwordVisibilityIcon2');
    const togglePasswordVisibilityBtn2 = document.getElementById('togglePasswordVisibility2');
    let isPasswordVisible2 = false;

    togglePasswordVisibilityBtn2.addEventListener('click', function () {
        if (isPasswordVisible2) {
            passwordInput2.type = 'password';
            passwordVisibilityIcon2.innerHTML = '<i class="ti ti-eye-off"></i>';
            isPasswordVisible2 = false;
        } else {
            passwordInput2.type = 'text';
            passwordVisibilityIcon2.innerHTML = '<i class="ti ti-eye"></i>';
            isPasswordVisible2 = true;
        }
    });
</script>*@
