@model ChangePasswordVM
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "_Layout";
}

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <p class="text-center">Your Social Campaigns - Buraya da ne istersek </p>
                            <form asp-controller="Account" asp-action="ChangePassword" method="post">
                                <div class="mb-3">
                                    <label asp-for="TemporaryPassword" class="form-label">Geçiçi Şifre</label>
                                    <input asp-for="TemporaryPassword" type="password" class="form-control" id="TemporaryPassword" name="TemporaryPassword">
                                    <span asp-validation-for="TemporaryPassword" class="text-danger"></span>
                                </div>
                                <div class="mb-4">
                                    <label asp-for="NewPassword" class="form-label">Yeni Şifre</label>
                                    <div class="input-group">
                                        <input asp-for="NewPassword" type="password" class="form-control" id="NewPassword" name="NewPassword">
                                        <button type="button" class="btn btn-outline-secondary" id="togglePasswordVisibility1">
                                            <span id="passwordVisibilityIcon1">
                                                <i class="ti ti-eye-off"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                                <div class="mb-4">
                                    <label asp-for="ConfirmPassword" class="form-label">Yeni Şifre Tekrar</label>
                                    <div class="input-group">
                                        <input asp-for="ConfirmPassword" type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword">
                                        <button type="button" class="btn btn-outline-secondary" id="togglePasswordVisibility2">
                                            <span id="passwordVisibilityIcon2">
                                                <i class="ti ti-eye-off"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div>
                                    <input type="submit" value="Şifre Değiştir" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const passwordInput1 = document.getElementById('NewPassword');
    const passwordVisibilityIcon1 = document.getElementById('passwordVisibilityIcon1');
    const togglePasswordVisibilityBtn1 = document.getElementById('togglePasswordVisibility1');
    let isPasswordVisible1 = false;

    togglePasswordVisibilityBtn1.addEventListener('click', function () {
        if (isPasswordVisible1) {
            passwordInput1.type = 'password';
            passwordVisibilityIcon1.innerHTML = '<i class="ti ti-eye-off"></i>';
            isPasswordVisible1 = false;
        } else {
            passwordInput1.type = 'text';
            passwordVisibilityIcon1.innerHTML = '<i class="ti ti-eye"></i>';
            isPasswordVisible1 = true;
        }
    });
</script>

<script>
    const passwordInput2 = document.getElementById('ConfirmPassword');
    const passwordVisibilityIcon2 = document.getElementById('passwordVisibilityIcon2');
    const togglePasswordVisibilityBtn2 = document.getElementById('togglePasswordVisibility2');
    let isPasswordVisible2 = false;

    togglePasswordVisibilityBtn2.addEventListener('click', function () {
        if (isPasswordVisible2) {
            passwordInput2.type = 'password';
            passwordVisibilityIcon2.innerHTML = '<i class="ti ti-eye-off"></i>';
            isPasswordVisible2 = false;
        } else {
            passwordInput2.type = 'text';
            passwordVisibilityIcon2.innerHTML = '<i class="ti ti-eye"></i>';
            isPasswordVisible2 = true;
        }
    });
</script>