@model LoginVM
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/assets/css/login/loginStyle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Sign in & Sign up Form</title>
</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">

                <form asp-controller="Account" asp-action="ValidationCredentials" class="sign-in-form" method="post">
                    <h2 class="title">Giriş Yap</h2>

                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input asp-for="Email" type="email" class="form-control" id="Email" name="Email" placeholder="E-Posta" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="input-field">
                        <i class="fas fa-lock" id="showPasswordIconLock"></i>
                        <input asp-for="Password" type="password" class="form-control" id="Password" name="Password" placeholder="Şifre">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-between" style="margin-top: 15px; margin-bottom: 15px;">
                        <div style="display: inline-block; margin-right: 100px;">
                            <input type="checkbox" class="form-check-input mb-3" id="showPassword" name="showPassword">
                            <a for="showPassword" style="color: #0d6efd">Şifreyi Göster</a>
                        </div>

                        <div style="display: inline-block;">
                            <a asp-controller="Account" asp-action="SendMail" type="submit" class="text-primary" style="color: #0d6efd; text-decoration: none;">Şifremi Unuttum</a>

                        </div>
                    </div>

                    <input type="submit" value="Giriş Yap" class="btn solid" />
                </form>

                @*<form asp-controller="Account" asp-action="SendPassword" class="sign-up-form" method="post">
                        <h3 class="title">Erişim için</h3>

                        <div class="input-field">
                            <i class="fas fa-envelope"></i>
                            <input asp-for="Email" type="email" class="form-control" id="Email" name="Email" placeholder="Kişisel E-Posta" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <input type="submit" class="btn solid" id="sent-btn" value="GÖNDER" />

                    </form>*@

                <form id="sendPasswordForm" asp-controller="Account" asp-action="SendPassword" class="sign-up-form" method="post">
                    <h3>Erişim için</h3>

                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input asp-for="Email" type="email" class="form-control" id="personalEmail" name="Email" placeholder="Kişisel E-Posta" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn solid" id="sent-btn">GÖNDER</button>

                    <div id="send-password-message"></div>
                </form>

            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Burada Yeni Misiniz ?</h3>
                    <p>Oturum açma bilgileriniz olan e-posta ve şifrenize ulaşmak için</p>
                    <button class="btn transparent" id="sign-up-btn">Tıklayın </button>
                </div>
                <img src="~/assets/images/login/undraw_software_engineer_re_tnjc.svg" class="image" alt="" />
            </div>

            <div class="panel right-panel">
                <div class="content">
                    <h3>Bizden Biri Misin ?</h3>
                    <p>Oturum açma bilgileriniz ile giriş yapabilmek için</p>
                    <button class="btn transparent" id="sign-in-btn">Tıklayın</button>
                </div>
                <img src="~/assets/images/login/undraw_login_re_4vu2.svg" class="image" alt="" />
            </div>
        </div>
    </div>

    <script src="~/assets/js/Login/app.js"></script>
    <script src="~/assets/js/Login/passwordLock.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>


<script>
    $(document).ready(function () {
        $('#sendPasswordForm').submit(function (event) {
            event.preventDefault(); // Prevent default form submission

            const email = $('#Email').val(); // Get email address from the form

            $.ajax({
                url: "/Account/SendPassword/" + email, // Construct URL based on route
                method: 'POST',
                data: { personalEmail: email }, // Send email as data
                success: function (response) {
                    // Handle successful response
                    if (response.success) {
                        $('#send-password-message').text('Bilgileriniz gönderildi. Lütfen mailinizi kontrol ediniz.');
                    } else {
                        if (response.error) {
                            $('#send-password-message').text(response.error);
                        } else {
                            $('#send-password-message').text('İşlem başarısız oldu. Lütfen daha sonra tekrar deneyin.');
                        }
                    }
                },
                error: function (error) {
                    console.error('AJAX hatası:', error);
                    $('#send-password-message').text('Bir hata oluştu. Lütfen daha sonra tekrar deneyin.');
                }
            });
        });
    });
</script>
