@model LoginVM
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}


<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                @*<img src="../assets/images/logos/dark-logo.svg" width="180" alt="">*@
                            </a>
                            <p class="text-center">Your Social Campaigns - Buraya da ne istersek </p>
                            <form asp-controller="Account" asp-action="ValidationCredentials" method="post">
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label">E-Posta</label>
                                    <input asp-for="Email" type="text" class="form-control" id="Email" name="Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="mb-4">
                                    <label asp-for="Password" class="form-label">Şifre</label>
                                    <div class="input-group">
                                        <input asp-for="Password" type="password" class="form-control" id="Password" name="Password">
                                        <button type="button" class="btn btn-outline-secondary" id="togglePasswordVisibility">
                                            <span id="passwordVisibilityIcon">
                                                <i class="ti ti-eye-off"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <a asp-controller="Account" asp-action="SendMail" type="submit" class="text-primary fw-bold">Şifremi Unuttum</a>
                                    <a asp-controller="Account" asp-action="SendPassword" type="submit" class="text-primary fw-bold">Bilgileri gönder</a>
                                </div>
                                <div>
                                    <input type="submit" value="Giriş Yap" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const passwordInput = document.getElementById('Password');
    const passwordVisibilityIcon = document.getElementById('passwordVisibilityIcon');
    const togglePasswordVisibilityBtn = document.getElementById('togglePasswordVisibility');
    let isPasswordVisible = false;

    togglePasswordVisibilityBtn.addEventListener('click', function () {
        if (isPasswordVisible) {
            passwordInput.type = 'password';
            passwordVisibilityIcon.innerHTML = '<i class="ti ti-eye-off"></i>';
            isPasswordVisible = false;
        } else {
            passwordInput.type = 'text';
            passwordVisibilityIcon.innerHTML = '<i class="ti ti-eye"></i>';
            isPasswordVisible = true;
        }
    });
</script>