@{
    ViewData["Title"] = "SendMail";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>SendMail</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/assets/css/login/bootstrap5.css">
    <link rel="stylesheet" href="~/assets/css/login/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center">
                <img src="~/assets/images/login/ForgotPassword.png" alt="Main IMG" class="img-fluid">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 pt-5">
                <form asp-area="" asp-controller="Account" asp-action="SendMail" method="post">
                    <h2 class="main-text pt-5 mt-5">Şifremi Unuttum</h2>
                    <input type="email" name="email" placeholder="Şifrenin Gönderilmesini İstediğiniz E-posta Adresinizi Giriniz" class="form-control main-input mt-5">
                    <div class="row">
                        <div class="col-3">
                            <input type="submit" name="btnGonder" class="btn btn-sz-primary mt-5" value="Şifreyi Gönder" />
                        </div>
                        <div class="col-6 pt-5">
                            <a asp-controller="Account" asp-action="Login" class="back-to-login">Giriş Yap Ekranına Dön</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>
</html>



@*<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <form asp-area="" asp-controller="Account" asp-action="SendMail" method="post">
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">E-Posta</label>
                                        <input type="email" name="email" class="form-control" aria-describedby="emailHelp">
                                    </div>
                                    <input type="submit" name="btnGonder" class="btn btn-primary container-lg" value="Şifreyi Gönder" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

