@{
    ViewData["Title"] = "SendMail";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>SendMail</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/assets/css/login/bootstrap5.css">
    <link rel="stylesheet" href="~/assets/css/login/style.css">

    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center">
                <img src="~/assets/images/login/ForgotPassword.png" alt="Main IMG" class="img-fluid">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6" id="formDiv">
                <form asp-area="" asp-controller="Account" asp-action="SendMail" method="post">
                    <h2 class="main-text">Şifremi Unuttum</h2>

                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="email" class="form-control" id="Email" name="Email" placeholder="E-Posta" />
                        <span class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <input type="submit" name="btnGonder" class="btn btn-sz-primary " value="Şifreyi Gönder" />
                        </div>
                        <div class="col-6 ">
                            <a asp-controller="Account" asp-action="Login" class="back-to-login">Giriş Yap Ekranına Dön</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <script src="~/assets/js/Login/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</body>
</html>
