@model IKProjesi.UI.Models.VMs.CompanyVMs.CreateCompanyVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Company" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyTitle" class="control-label"></label>
                <input asp-for="CompanyTitle" class="form-control" />
                <span asp-validation-for="CompanyTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MersisNumber" class="control-label"></label>
                <input asp-for="MersisNumber" class="form-control" />
                <span asp-validation-for="MersisNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyTaxNumber" class="control-label"></label>
                <input asp-for="CompanyTaxNumber" class="form-control" />
                <span asp-validation-for="CompanyTaxNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyTaxOffice" class="control-label"></label>
                <input asp-for="CompanyTaxOffice" class="form-control" />
                <span asp-validation-for="CompanyTaxOffice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeNumber" class="control-label"></label>
                <input asp-for="EmployeeNumber" class="form-control" />
                <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoundationYear" class="control-label"></label>
                <input asp-for="FoundationYear" class="form-control" />
                <span asp-validation-for="FoundationYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartContractDate" class="control-label"></label>
                <input asp-for="StartContractDate" class="form-control" />
                <span asp-validation-for="StartContractDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndContractDate" class="control-label"></label>
                <input asp-for="EndContractDate" class="form-control" />
                <span asp-validation-for="EndContractDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

