

@{
    ViewData["Title"] = "CreateSiteManager";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_SuperAdminLayout.cshtml";

}



@model CreateSiteManagerVM

<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4 text-center text-primary">Site Yöneticisi Oluştur</h5>
                <form asp-area="SuperAdmin" asp-controller="SuperAdmin" asp-action="CreateSiteManager" enctype="multipart/form-data" method="post">
                    <div class="mb-3 form-group">
                        <label asp-for="FirstName" class="control-label">Adı</label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-group">
                        <label asp-for="SecondName" class="control-label">İkinci Adı</label>
                        <input asp-for="SecondName" class="form-control" />
                        <span asp-validation-for="SecondName" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-group">
                        <label asp-for="LastName" class="control-label">Soyadı</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-group">
                        <label asp-for="SecondLastName" class="control-label">İkinci Soyadı</label>
                        <input asp-for="SecondLastName" class="form-control" />
                        <span asp-validation-for="SecondLastName" class="text-danger"></span>
                    </div>
                    @* <div class="mb-3 form-group">
                        <label asp-for="UserName" class="control-label">Kullanıcı Adı</label>
                        <input asp-for="UserName" class="form-control" name="UserName" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div> *@
                    <div class="mb-3 form-group">
                        <label asp-for="BirthDate" class="control-label">Doğum Tarihi</label>
                        <input asp-for="BirthDate" type="date" class="form-control" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-group">
                        <label asp-for="BirthPlace" class="control-label">Doğum Yeri</label>
                        <input asp-for="BirthPlace" type="text" class="form-control" />
                        <span asp-validation-for="BirthPlace" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-group">
                        <label asp-for="StartDateOfWork" class="control-label">İşe Başlangıç Tarihi</label>
                        <input asp-for="StartDateOfWork" type="date" class="form-control" />
                        <span asp-validation-for="StartDateOfWork" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-group">
                        <label asp-for="IdentityNumber" class="control-label">TC Kimlik Numarası</label>
                        <input asp-for="IdentityNumber" type="text" class="form-control" />
                        <span asp-validation-for="IdentityNumber" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-group">
                        <label asp-for="Address" class="control-label">Adres</label>
                        <textarea asp-for="Address" class="form-control"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-group">
                        <label asp-for="PhoneNumber" class="control-label">Telefon Numarası</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-group">
                        <label asp-for="Password" class="control-label">Şifre</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
@*                     <div class="mb-3 form-group">
                        <label asp-for="ImagePath" class="control-label">ImagePath</label>
                        <input asp-for="ImagePath" class="form-control" />
                        <span asp-validation-for="ImagePath" class="text-danger"></span>
                    </div> *@
                    <div class=" mb-3 form-group">
                        <div>
                            <input type="submit" class="btn btn-danger rounded-3 fw-semibold" value="Kaydet" />
                        </div>

                    </div>
                    <div class=" mb-3 form-group">
                        <div>
                            <a asp-action="Index" class="btn btn-danger rounded-3 fw-semibold ">Site Yöneticileri Listesine Dön</a>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


       
  
      