@page
@model IKProjesi.UI.Areas.SiteManager.Views.SiteManager.CompanyManagerListModel
@{
    ViewData["Title"] = "CompanyManagerList";
    Layout = "~/Areas/SiteManager/Views/Shared/_SiteManagerLayout.cshtml";

}

<h1>CompanyManagerList</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
