
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/SiteManager/Views/Shared/_SiteManagerLayout.cshtml";
}

<h1>Index</h1>

<h5>İd bilgisi alındığında, index sayfasında site yöneticisinin özet bilgileri gözükecek. Kullanıcı giriş yaptığında getSitemanagersummary sayfası açılacak.</h5>

<h5>Site yöneticisine resim ekleme işlemi yeni yapıldığında resim güncelleme kısmı sadece 69 numaralı kişide çalışıyor. Diğerlerinde hata veriyor.</h5>