@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Şirket yöenticisi adı</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Şirket yöneticisi şirketi</h6>
                                <p class="card-text">
                                    <li>Email</li>
                                    <li>Tel</li>

                                </p>
                                <a href="#" class="card-link">yönlendirme</a>
                                <a href="#" class="card-link">yönlendirme</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Şirket yöenticisi adı</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Şirket yöneticisi şirketi</h6>
                                <p class="card-text">
                                    <li>Email</li>
                                    <li>Tel</li>

                                </p>
                                <a href="#" class="card-link">yönlendirme</a>
                                <a href="#" class="card-link">yönlendirme</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Şirket yöenticisi adı</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Şirket yöneticisi şirketi</h6>
                                <p class="card-text">
                                    <li>Email</li>
                                    <li>Tel</li>

                                </p>
                                <a href="#" class="card-link">yönlendirme</a>
                                <a href="#" class="card-link">yönlendirme</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Şirket Yöenticisi Oluştur</h5>
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label for="firstName" class="form-label">Adı</label>
                                <input type="text" class="form-control" id="firstName">
                            </div>
                            <div class="mb-3">
                                <label for="secondName" class="form-label">İkinci Adı</label>
                                <input type="text" class="form-control" id="secondName">
                            </div>
                            <div class="mb-3">
                                <label for="lastName" class="form-label">Soyadı</label>
                                <input type="text" class="form-control" id="lastName">
                            </div>
                            <div class="mb-3">
                                <label for="secondLastName" class="form-label">İkinci Soyadı</label>
                                <input type="text" class="form-control" id="secondLastName">
                            </div>
                            <div class="mb-3">
                                <label for="birthDate" class="form-label">Doğum Tarihi</label>
                                <input type="datetime" class="form-control" id="birthDate">
                            </div>
                            <div class="mb-3">
                                <label for="identifyNumber" class="form-label">TC Kimlik No</label>
                                <input type="text" class="form-control" id="identifyNumber">
                            </div>
                            <div class="mb-3">
                                <label for="job" class="form-label">Meslek</label>
                                <select type="text" class="form-select" id="job">
                                    <option></option>
                                </select>

                            </div>

                            <div class="mb-3">
                                <label for="department" class="form-label">Departman</label>
                                <select type="text" class="form-select" id="department">
                                    <option></option>
                                </select>

                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">E-Posta</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                            <div class="mb-3">
                                <label for="address" class="form-label">Adres</label>
                                <textarea type="text" class="form-control" id="address"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="phoneNumber" class="form-label">Telefon Numarası</label>
                                <input type="text" class="form-control" id="phoneNumber">
                            </div>
                            <div class="mb-3">
                                <label for="phoneNumber" class="form-label">Şirket Seçin</label>
                                <select type="text" class="form-select" id="phoneNumber">
                                    <option></option>
                                </select>

                            </div>

                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


