@if (TempData["Danger"] != null)
{
    <div class="alert alert-danger alert-dismissible">
        <h5><i class="ti ti-alert-triangle"></i>Hata!</h5>
        @TempData["Danger"]
    </div>
}
@if (TempData["Info"] != null)
{
    <div class="alert alert-info alert-dismissible">
        <h5><i class="ti ti-info-circle"></i> Bilgi!</h5>
        @TempData["Info"].
    </div>
}
@if (TempData["Warning"] != null)
{
    <div class="alert alert-warning alert-dismissible">
        <h5><i class="ti ti-alert-circle"></i> Uyarı!</h5>
        @TempData["Warning"]
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible">
        <h5><i class="ti ti-circle-dashed-check"></i>Başarılı!</h5>
        @TempData["Success"]
    </div>
}

<script>
    setTimeout(function () {
        $('.alert').fadeOut('slow');
    }, 10000);
</script>
