@using IKProjesi.UI.Extensions
@model IKProjesi.UI.Models.VMs.EmployeeVMs.CreateEmployeeVM

@{
    ViewData["Title"] = "CreateEmployee";
    Layout = "~/Areas/CompanyManager/Views/Shared/_CompanyManagerLayout.cshtml";

}

<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4 text-center text-primary">Personel Oluştur</h5>
                <div class="row">
                    <form asp-area="CompanyManager" asp-controller="CompanyManager" asp-action="CreateEmployee" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3 form-group">
                            <label asp-for="FirstName" class="control-label">Adı</label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="SecondName" class="control-label">İkinci Adı</label>
                            <input asp-for="SecondName" class="form-control" />
                            <span asp-validation-for="SecondName" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="LastName" class="control-label">Soyadı</label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="SecondLastName" class="control-label">İkinci Soyadı</label>
                            <input asp-for="SecondLastName" class="form-control" />
                            <span asp-validation-for="SecondLastName" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="BirthDate" class="control-label">Doğrum Tarihi</label>
                            <input asp-for="BirthDate" type="date" class="form-control" />
                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="BirthPlace" class="control-label">Doğum Yeri</label>
                            <input asp-for="BirthPlace" class="form-control" />
                            <span asp-validation-for="BirthPlace" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="IdentityNumber" class="control-label">T.C. Kimlik Numarası</label>
                            <input asp-for="IdentityNumber" class="form-control" />
                            <span asp-validation-for="IdentityNumber" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="StartDateOfWork" class="control-label">İşe Başlama Tarihi</label>
                            <input asp-for="StartDateOfWork" type="date" class="form-control" />
                            <span asp-validation-for="StartDateOfWork" class="text-danger"></span>
                        </div>

                        <div class="mb-3 form-group">
                            <label asp-for="DepartmentName" class="control-label">Departman</label>
                            <select asp-for="DepartmentName" class="form-select" id="DayOffType">
                                <option value="">Departman Seçiniz</option>
                                @foreach (var type in Enum.GetValues(typeof(Department)))
                                {

                                    <option value="@type">@((type as Enum).GetDisplayName())</option>
                                }
                            </select>
                            <span asp-validation-for="DepartmentName" class="text-danger"></span>
                        </div>

                        <div class="mb-3 form-group">
                            <label asp-for="Address" class="control-label">Adres</label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="PhoneNumber" class="control-label">Telefon Numarası</label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="Payment" class="control-label">Maaşı</label>
                            <input asp-for="Payment" class="form-control" />
                            <span asp-validation-for="Payment" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="Image" class="control-label">Resmi</label>
                            <div>
                                <input asp-for="Image" type="file" class="form-control" id="inputGroupFile02" name="Image" />
                            </div>
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>

                        <div class="mb-3 form-group">
                            <input type="submit" value="Kaydet" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



