@using IKProjesi.UI.Extensions
@model IKProjesi.UI.Models.VMs.EmployeeVMs.CreateEmployeeVM

@{
    ViewData["Title"] = "CreateEmployee";
    Layout = "~/Areas/CompanyManager/Views/Shared/_CompanyManagerLayout.cshtml";

}

<h1>Create Employee</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-area="CompanyManager" asp-controller="CompanyManager" asp-action="CreateEmployee" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondName" class="control-label"></label>
                <input asp-for="SecondName" class="form-control" />
                <span asp-validation-for="SecondName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondLastName" class="control-label"></label>
                <input asp-for="SecondLastName" class="form-control" />
                <span asp-validation-for="SecondLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthPlace" class="control-label"></label>
                <input asp-for="BirthPlace" class="form-control" />
                <span asp-validation-for="BirthPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityNumber" class="control-label"></label>
                <input asp-for="IdentityNumber" class="form-control" />
                <span asp-validation-for="IdentityNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDateOfWork" class="control-label"></label>
                <input asp-for="StartDateOfWork" class="form-control" />
                <span asp-validation-for="StartDateOfWork" class="text-danger"></span>
            </div>

@*             <div class="mb-3 form-group">
                <label asp-for="DepartmentName" class="control-label">Departman</label>
                <select asp-for="DepartmentName" class="form-select" id="DayOffType">
                    <option value="">Departman Seçiniz</option>
                    @foreach (var type in Enum.GetValues(typeof(Department)))
                    {

                        <option value="@type">@((type as Enum).GetDisplayName())</option>
                    }
                </select>
                <span asp-validation-for="DepartmentName" class="text-danger"></span>
            </div> *@

            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
               
                <div>
                    <input asp-for="Image" type="file" class="form-control" id="inputGroupFile02" name="Image" />
                    <label class="custom-file-label" for="customFile">Dosya Seçiniz</label>
                </div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

