
@{
    ViewData["Title"] = "GetCompanyManagerUpdate";
    Layout = "~/Areas/CompanyManager/Views/Shared/_CompanyManagerLayout.cshtml";
}

@model UpdateCompanyManagerVm

<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4 text-center text-primary">Şirket Yöneticisi Güncelle</h5>
                <form asp-controller="CompanyManager" asp-action="GetCompanyManagerUpdate" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*                     <div class="mb-3 form-group">
                        <label asp-for="ImagePath" class="control-label">Resim Yolu</label>
                        <input asp-for="ImagePath" class="form-control" />
                        <span asp-validation-for="ImagePath" class="text-danger"></span>
                    </div> *@
                    <div class="mb-3 form-group">
                        <label asp-for="@Model.Image" class="control-label"></label>
                        <div>
                            <input asp-for="@Model.Image" type="file" class="form-control" id="inputGroupFile02" />
                            <label class="custom-file-label" for="customFile">Dosya Seçiniz</label>
                        </div>
                        <span asp-validation-for="@Model.Image" class="text-danger"></span>
                    </div>


                    <div class="form-floating mb-3" style="position: relative;">    

                        <input class="form-control readonly-input" readonly />

                        <label for="ImageBytes " class="form-label fw-semibold">Image</label>
                        @if (@Model.ImageBytes is not null)
                        {
                            <img src="data:image;base64,@(Convert.ToBase64String(Model.ImageBytes))" class="img-fluid" alt="Profil Resmi">
                        }
                        <span asp-validation-for="ImageString" class="text-danger"></span>
                    </div>




                    <div class="mb-3 form-group">
                        <label asp-for="Address" class="control-label">Adres</label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-group">
                        <label asp-for="PhoneNumber" class="control-label">Telefon Numarası</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-group">
                        <input type="submit" value="Kaydet" class="btn btn-danger rounded-3 fw-semibold" />
                    </div>
                    <div class=" mb-3 form-group">
                        <div>
                            <a asp-action="Index" class="btn btn-danger rounded-3 fw-semibold ">Geri Dön</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>