@{
    ViewData["Title"] = "ListApprovalForOffDay";
    Layout = "~/Areas/CompanyManager/Views/Shared/_CompanyManagerLayout.cshtml";

}

@model List<ListWaitingApprovalForOffDayVM>

<link href="~/assets/css/cardStyle.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
<div class="container-fluid">
    <div class="row justify-content-center ">
        <div class="card cb1 text-center">
            <div class="card-body cb-1">
                <h5 class="card-title fw-semibold mb-4">İzin Talepleri</h5>
                <div class="row">
                    @foreach (var offDays in Model)
                    {
                        <div class="col-md-4 d-flex">
                            <div class="card md-2 cb1 text-center">
                                <div class="card-body">
                                    <h5 class="card-title">Ad Soyad: @offDays.EmployeeFullName</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">İzin Türü: @EnumExtensions.GetDisplayName((DayOffType)offDays.DayOffType)</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">Onay Türü:@EnumExtensions.GetDisplayName((ApprovalType)offDays.ApprovalType)</h6>
                                    <div class="mb-3 form-group">
                                        <a asp-area="CompanyManager" asp-controller="CompanyManager" asp-action="GetApprovalForOffDay" asp-route-id=@offDays.Id class="card-link btn btn-danger rounded-3 fw-semibold">Talep Detayları</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>